.notification {
    color: white;
    background-color: green;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 2px solid darkgreen;
}

body {
    margin-left: 10vw;
    background: #222;
    color: #ddd;
}

button {
    background: #444;
    color: #ddd;
    margin-left: 10px;
}
