body{    
    background-color: #1e1e1e; /* Dark gray */
  background-image: 
    linear-gradient(90deg, rgba(255, 255, 255, 0.01) 1px, transparent 1px),
    linear-gradient(rgba(255, 255, 255, 0.01) 1px, transparent 1px);
  background-size: 1rem 1rem;
color:#eee;
margin:0; padding:0}

h2:first-child::first-letter{font-size:3rem;}
li{text-decoration: none;padding:4px;margin-left:1rem}
ul{padding:0;margin:0}
.page2 button{background:#aaf}
.page1 button{background:limegreen;padding:2px 20px 2px  20px }
.page1 button:hover{box-shadow: 0 0 0 2px #fff}
.page2 button:hover{box-shadow: 0 0 0 2px red  }


.page1{background:#1e1e1e;margin-left:1rem;padding:1px 20px  20px 20px; margin-top:1rem; width:300px;text-align:left;  box-shadow:0px 0px 0 2px #777;float:left;min-height:500px;max-width:300px}

.page2{float:left;background:#1e1e1e;margin-left:0;padding:1px 20px  20px 20px; margin-top:1rem; width:300px;text-align:left;  box-shadow:0px 0px 0 2px #777;float:left;min-height:500px;border-left:groove 10px #777 }