body {
    background: #222;
    color: #eee;
    font-size: 20px;
}
.Appwrap {
    margin-top: 2rem;
    margin-left: 2rem;
}
button {
    background: #555;
    color: #eee;
    padding: 5px;
    font-size: 20px;
    margin: 5px;
}
