
*{
    background:#222;
    color:#ccc;
}
body{
    padding:16px;
}
button {
    background-color: steelblue;

    color:#222;
    padding:5px;
}

.notifications{
    background: orange;
    color:#222;
    padding:3px;
    border-radius:2px;
    width:300px;


}
.footer{
    margin-top:32px;
    background:#333;
    width:200px;
    padding:2px;
}
